::-webkit-scrollbar {
    display: none;
}
body {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat',sans-serif;
}

.mynav {
    background-color: white;
}

.navbar-brand {
    padding-left: 50px;
}

.nav-item {
    padding-right: 60px;

}

.navbar.navbar-light.bg-light {
    padding-right: 50px;
}

.mynav .nav-link {
    color: orange;
}

.nav-item a:hover {
    background-color: #e6e6e6;
    border-radius: 10px;
}




.btn-success {
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top:10px;
    padding-bottom:10px;
    border-radius: 20px;
    margin-top: -5px;
    font-family: 'Montserrat',sans-serif;
}

 .container {
    position: relative;
}

 .text-block h1 {
    font-weight:600;
    font-size:70px;
    position: relative;
    bottom: 40px;
     color: black;
    margin-left:-280px;
     padding-top: 400px;
}
.text-block p {
    font-weight: 500;
    font-size: 25px;
    color: black;
    margin-top: -50px;
    margin-left:150px;
}
.bg-image {
    background: url("images/BG.svg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    
}

#con {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
   
.bg-image-about {
    background: url("images/about.jpg");
    background-size: cover;
      background-position: center;
      
}

.txt-about h2 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 40px;
    position: relative;
    bottom: -130px;
    text-align: center;
    
}
.txt-about p {
    font-family: 'Montserrat',sans-serif;
    font-weight: 200;
    font-size: 25px;
    position: relative;
    color: black;
    bottom: -150px;
     
    text-align: center;
}
.bg-image-our-mission {
    background: url("images/mission.jpg");
    background-size: cover;
    background-position: center;
 
}
.txt-our-mission h2 {
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 40px;
    position: relative;
    bottom: -130px;
    text-align: center;
    color:black;
}
.txt-our-mission p {
    font-family: 'Montserrat',sans-serif;
    font-weight: 200;
    font-size: 25px;
    position: relative;
    color: black;
    bottom: -150px;
    text-align: center;
}


#con div {
    position: relative;
    width: 100%;
    height: 100%;
}
 
.bg-image-feedback {
    background: url("images/feedback.png");
    background-size: cover;
    background-position: center;
}
.contact-form{
    padding-top:200px;
    padding-left:785px;
}
 .contact-form h1{
     color:white;
     padding-left:80px;
  }
form{
    margin:40px;
}
.input-field{
    width:400px;
    height:40px;
    margin-top:30px;
    border:1px solid #777;
    border-radius:14px;
    outline:none;
}
.textarea-field{
    height:150px;
    padding-top:10px;
}
.butnn {
    border-radius: 80px;
    color: #fff;
    margin-top: 10px;
    padding: 10px;
    margin-left:130px;
    background-color: #47c35a;
    font-size: 17px;
    border: none;
    cursor: pointer;
}